.mheader{
    border-style: groove;
    background-color: rgb(91, 198, 237);
    top: 0;

}
.mcenter{
    
    background-color: rgb(146, 146, 242);
}
.mfooter{
    background-color: rgb(8, 127, 246);
    bottom: 0;
}
img{
    height: 30%;
    width: 40%;
}
h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: cursive;
}
p{
    font-family: fantasy;
}
div {
    border: 1px solid black;
    background-color: white;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
 